.intro {
  text-align: center;
}

.intro-header {
  font-family: "Montserrat", sans-serif;
  background-color: #fff389;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro-text {
  font-size: calc(85px + 2vmin);
  color: rgb(26, 26, 26);
  animation-name: intro-fade;
  animation-duration: 1s;
}

@keyframes intro-fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
