.bio-container {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bio-image {
  border-radius: 50%;
  border: 6px solid black;
}

.bio-text {
  text-align: right;
}
