.bio-container {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.bio {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.bio-image {
  border-radius: 50%;
  border: 6px solid black;
}

.bio-text {
  text-align: right;
}

.text-1 {
  position: relative;
  animation-name: text-1-slide;
  animation-duration: 2.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes text-1-slide {
  from {
    left: 1600px;
  }

  to {
    left: 0;
  }
}

.text-2 {
  position: relative;
  animation-name: text-2-slide;
  animation-duration: 2.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes text-2-slide {
  from {
    left: 1800px;
  }

  to {
    left: 0;
  }
}

.text-3 {
  position: relative;
  animation-name: text-2-slide;
  animation-duration: 1.9s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes text-2-slide {
  from {
    left: 1000px;
  }

  to {
    left: 0;
  }
}
