.intro {
  text-align: center;
}

.intro-header {
  font-family: "Montserrat", sans-serif;
  background-color: #fff389;
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.intro-text {
  font-size: calc(85px + 0.5vmin);
  color: rgb(26, 26, 26);
  animation-name: intro-fade-in;
  animation-duration: 1s;
  margin-bottom: 100px;
}

.header-fade {
  animation-name: header-fade-out;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes intro-fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes header-fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
