.welcome-container {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.welcome {
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.welcome-image {
  border-radius: 50%;
  border: 6px solid black;
  position: relative;
  animation-name: bio-image-slide;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.welcome-text {
  text-align: right;
}

.text-1 {
  position: relative;
  animation-name: text-1-slide;
  animation-duration: 1.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.text-2 {
  position: relative;
  animation-name: text-2-slide;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.text-3 {
  position: relative;
  animation-name: text-3-slide;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.divider {
  color: black;
  display: block;
  position: relative;
  height: 1px;
  top: 100px;

  animation-name: divider-enlarge;
  animation-duration: 1.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

/* Animations */

@keyframes text-1-slide {
  from {
    left: 1600px;
  }

  to {
    left: 0;
  }
}

@keyframes text-2-slide {
  from {
    left: 1200px;
  }

  to {
    left: 0;
  }
}

@keyframes text-3-slide {
  from {
    left: 1000px;
  }

  to {
    left: 0;
  }
}

@keyframes bio-image-slide {
  from {
    right: 1000px;
  }
  to {
    right: 0;
  }
}

@keyframes divider-enlarge {
  from {
    opacity: 0%;
    width: 0%;
  }
  to {
    opacity: 1;
    width: 90%;
  }
}

@media screen and (max-width: 1150px) {
  .welcome-container {
    position: relative;
  }

  .welcome {
    flex-direction: column;
    transform: scale(0.8);
    overflow-x: hidden;
  }

  .welcome-text {
    text-align: center;
  }
}

@media screen and (min-width: 360) {
  .welcome {
    transform: scale(0.8);
  }
}
